apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: books
resources:
  - namespace.yaml
  - statefuleset.yaml
  - service.yaml
  - ingress.yaml
commonLabels:
  app: calibre-web
