#!/bin/sh
K3S_DATA="${DATAFS_PATH}/k3s"
K3S_LOG_DIR="${K3S_DATA}/log"
K3S_SCRIPT="/tmp/k3os_install.sh"
export INSTALL_K3S_SKIP_START="true"
# export INSTALL_K3S_SKIP_ENABLE="true"
export INSTALL_K3S_EXEC="{%-if control %}server --disable-agent --kube-apiserver-arg 'service-node-port-range=20000-32767' {% else %}agent --server {{ server_url }} {%- endif %}--log $K3S_LOG_DIR"
chroot_exec mkdir -p ${K3S_DATA}/log
wget -qO ${ROOTFS_PATH}${K3S_SCRIPT} https://get.k3s.io
chroot_exec chmod 755 $K3S_SCRIPT
echo "Setting k3s log location to $K3S_LOG_DIR"
chroot_exec sed -i "s;LOG_FILE=/var/log/\${SYSTEM_NAME}.log;LOG_FILE=${K3S_LOG_DIR}/\${SYSTEM_NAME}.log;g" $K3S_SCRIPT
echo "Installing k3os..."
chroot_exec $K3S_SCRIPT
echo "Done"
chroot_exec rm -f $K3S_SCRIPT
echo "Copying 'k3s.env'"
install "$INPUT_PATH"/k3s.env "$ROOTFS_PATH"/etc/rancher/k3s/k3s.env
echo "Installing nfs-utils..."
chroot_exec apk add --no-cache nfs-utils
echo "Done"
