# k3s options
export PATH="/usr/libexec/cni/:$PATH"
K3S_EXEC="{%- if 'server' in group_names %}server {% else %}agent --server https://{{ groups['server'][0] }}:6443{%- endif %}"
K3S_OPTS="--node-name {{ inventory_hostname }} \
        --token {{ k3s_token }}{%- if labels is defined %} \
        {% for label in labels %}--node-label {{ label }}={{ labels[label] }}{% endfor %}{% endif %}{%- if taints is defined %} \
        {% for taint in taints %}--node-taint {{ taint }} {% endfor %}{% endif %}"
