apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: nginx-ingress
  namespace: kube-system
spec:
  repo: https://kubernetes.github.io/ingress-nginx
  chart: ingress-nginx
  targetNamespace: kube-system
  set:
    controller:
      service:
        annotations:
          metallb.universe.tf/loadBalancerIPs: "{{ nginx_ip_address }}"

