---
- hosts: all
  become: "yes"
  vars_files:
    - vars_enc
  tasks:
    - name: Set hostname
      hostname:
        name: "{{ inventory_hostname }}"
        use: alpine

    - name: Set authorized key from local file
      authorized_key:
        user: root
        state: present
        key: "{{ lookup('file', '~/.ssh/id_ecdsa.pub') }}"

    - name: Create incomplete-downloads directory
      file:
        path: "/data/k3s/incomplete-downloads"
        state: directory
        mode: '0755'

    - name: copy template files to read-only file-system
      block:
        - name: Try to copy k3s confd values
          template:
            src: "templates/k3s_confd.tmpl"
            dest: "/etc/conf.d/k3s"
        
        - name: Try to copy iscsid.conf
          copy:
            src: "files/iscsid.conf"
            dest: "/etc/iscsi/iscsid.conf"
      rescue:
        - name: remount-rw
          mount:
            path: /
            state: remounted
            opts: rw

        - name: Try to copy k3s confd values
          template:
            src: "templates/k3s_confd.tmpl"
            dest: "/etc/conf.d/k3s"

        - name: Copy iscsid.conf
          copy:
            src: "{{ playbook_dir }}/files/iscsid.conf"
            dest: /etc/iscsi/iscsid.conf
          notify:
            - restart iscsid
            - restart k3s

        - name: ensure k3s is enabled at startup
          service:
            name: k3s
            enabled: yes

        - name: Flannel-arm64 workaround
          file:
            src: "/usr/libexec/cni/flannel-arm64"
            dest: "/usr/libexec/cni/flannel"
            state: link
      always:
        - name: remount-ro
          register: remount
          mount:
            path: /
            state: remounted
            opts: ro

    - debug:
        msg: "remount {{ remount }}"

    - name: cloudflare API secret
      block:  
        - name: create cloudflare API secret
          ansible.builtin.command: /usr/bin/kubectl -n kube-system create secret generic cloudflare-credentials --from-literal=cloudflareApiKey={{ cloudflare_traefik_api_key }}
          when: "'server' in group_names"

      rescue:
        - name: update cloudflare API secret
          ansible.builtin.command: "/usr/bin/kubectl -n kube-system patch secret cloudflare-credentials --type='json' -p='[{\"op\" : \"replace\" ,\"path\" : \"/data/cloudflareApiKey\" ,\"value\" : \"{{ cloudflare_traefik_api_key | b64encode }}\"}]'"
          when: "'server' in group_names"

    - name: install custom traefik values
      copy:
        src: "{{ playbook_dir }}/k8s/traefik-cloudflare.yaml"
        dest: /var/lib/rancher/k3s/server/manifests/traefik-cloudflare.yaml
      when: "'server' in group_names"

    - name: Make sure required services are started
      service:
        name: "{{ item }}"
        state: started
      loop:
        - k3s
        - iscsid
        - rpcbind

  handlers:
    - name: restart k3s
      service:
        name: k3s
        state: restarted
    - name: stop k3s
      service:
        name: k3s
        state: stopped
    - name: restart iscsid
      service:
        name: iscsid
        state: restarted
      
# set motd to something helpful for k8s (like node name, node role, IP address)
# configure uploading state file to S3
# set root password
